$darkerBlue: #4369b2;

.country-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  // align-items: center;
  justify-content: center;

  .row {
    flex: 1 100%;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    &:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }
  .country-list-item {
  }
}
