$lighterBlue: hsl(219, 55%, 55%);
$lighterBlueHover: hsl(219, 55%, 60%);
$darkerBlue: hsl(219, 45%, 48%);
$darkerBlueHover: hsl(219, 45%, 53%);

.country-list-link {
  flex: 50%;
  min-width: 170px;
  min-height: 150px;
  margin-bottom: -8px;
  position: relative;
  background: $lighterBlue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s;

  img {
    width: 50%;
    left: 10%;
    top: 10%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  &:hover {
    img {
      box-shadow: none;
    }
  }

  &:nth-child(2n) {
    background: $darkerBlue;
  }

  .country-list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    height: 100%;
  }

  .cli-top {
    display: flex;
    justify-content: space-between;
  }

  .cli-data {
    text-align: right;
  }
}
